@use 'mixins';
@import './variables';

.main__timer {

    @include mixins.flex(center, center, column);

    width: 100vw;
    min-height: 100vh;
    background-color: $color1; 
    color: $color2;
    
    .timer{
        @include mixins.flex(center, center, column);
        
        &__countdown {
            margin: 0;
            font-size: 175px;
            font-weight: 700;
            cursor: default;
            color: inherit;
            display: none;

            &::selection { opacity: 0;}
        }
        
        &__buttons{
            .fa-solid {font-size: 25px;}
            #Capa_1 { width: 19px}            
            button {
                @include mixins.flex(center, center, row);
                width: 22px;
                height: 30px;
            }
            &::selection { opacity: 0;}
        }
        
        &__active { display: flex; }
    }

    .section__active { 
        background-color: $color4;
        color: rgba(247, 243, 226, .70);
        .cls-1 {fill: rgba(247, 243, 226, .70); stroke: none; }
        display: flex;
    }

}