@use 'mixins';
@import 'variables';
@import 'timer';
@import 'aside';


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');



//********************************

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all .3s;
}

body::-webkit-scrollbar{ display: none;}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.fa-solid{ color: $color2; }

.header {
    @include mixins.flex(center, space-between, row);
    position: absolute;
    width: 100vw;
    padding:10px 12px;

    .logo {
        width: 21px;
        .cls-1 {fill: $color2; stroke: none}
    }
    .logo:hover{ transform: rotate(15deg); }

    .fa-solid {color: $color2;}

    button { font-size: 20px;}
    
    .settings {@include mixins.flex(center, center, row);}
    .settings:hover { transform: rotate(60deg); }
    .nav {
        @include mixins.flex(center, center, row);
        gap: 25px;

        &__link {
            @include mixins.flex(center, center, row);
            font-size: 14px;
            color: $color2;
            padding:2px 6px;
            border-radius: 10px;
        }

        &__active { 
            color: #fff;
            background-color: rgba(247, 243, 226, .3);}
    }
}

.scrolldown {
    width: 100vw;
    display: flex;
    justify-content: center;
    bottom: 5px;
    position: absolute;
    font-size: 20px;
}
