@use '../abstract/mixins';
@import '../abstract/variables';

.footer{
    @include mixins.flex(center, center, column);
    padding: 1.875em 0 1.25em;
    background-color: $color2;
    border-top: 1px solid $color-menu2;
    color: $color3;
    
    &__contact{
        @include mixins.flex(center, center, row);
        gap: 2em;
        height: 40px;
        &--content{
            font-size: 1.6rem;
            span {@include mixins.flex(center, center, row);}
        }
        
    }
    
    #Capa_1 {width: 30px; fill: $color3; }
    a { color: $color3; font-weight: 700;}
    p {
        font-size: .6rem;
        text-align: center;
        span {font-size: .9rem;}
    }
    
    *::selection{
        background-color: $color1;
        color: $color2;
    }
}